<%- include('../partials/header'); %>
<div class="container">

<h1 class ="intro"><%= pageTitle %></h1>
</div>
    <% products.forEach( (item, idx) => { %>
        <div class="container">
            <div class="card">
                <div class="container-fliud">
                    <div class="wrapper row">
                        <div class="details col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img src="<%= item.image %>" />
                            </div>
                        </div>
                    </div>
            <div class="details col-md-6">
                    <h3 class="product-title"><a href="/products/<%= item.slug %>"><%= 'Name: ' + item.name %></a></h3>
                <p class="product-description"><%= item.remarks %>
                </p>
                    <div class="rating">
                            <span class="review-no">41 reviews</span>
                        </div>
                    <span class="price">
                        <%= 'Price: ' + item.price %>
                    </span>
                    <%= 'Priority: ' + item.priority %>
                                
                <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong> (87 votes)</strong></p>
                <div class="outer action-buttons">
                    <div class="inner">
                        <a class="btn btn-outline-success my-2 my-sm-0" href="/products/<%= item.slug %>/edit">Edit</a></div>
                    <!--change add to cart to post request-->
                    <div class="inner">
                    <!-- <form method="POST" action="/users/cart">
                        <input type="hidden" name="product_id" value="<%= item._id %>" />
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Add to Cart</button>
                    </div> -->

                    <% if (user !== null) { %>
                    </form>
                    <div class="inner">
                    <form method="POST" action="/users/cart?_method=DELETE">
                        <input type="hidden" name="product_id" value="<%= item._id %>" />
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 delete">Delete</button>
                    </form>
                    <% } %>

                </div>
                </div>
            </div>
            </div>
    </div>
</div>
</div>
</div>
</div>
    <% }) %>


<%- include('../partials/footer'); %>