<%- include('../partials/header'); %>

<div class="container">

    <h1 class="intro"><%= pageTitle %></h1>

    <form method="POST" action="/products/<%= itemID %>?_method=PATCH">
        <!-- Name -->
        <div class="form-group">
        <label for="product-name">Product Name</label>
        <input type="text" class="form-control" name="product_name" id="product-name" value="<%= item.name %>" required>
        </div>

        <!-- Price -->
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price" id="price" value="<%= item.price %>" required>
        </div>

        <!-- Priority -->
        <div class="form-group">
            <label for="priority">Priority</label>
            <input type="text" class="form-control" name="priority" id="priority"value="<%= item.priority %>" required>
        </div>

        <!-- Remarks -->
        <div class="form-group">
            <label for="remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="remarks" value="<%= item.remarks %>"required>
        </div>

        <!-- Image URL -->
        <div class="form-group">
            <label for="img-url">Image URL</label>
            <input type="url" class="form-control" name="img_url" id="img-url" value="<%= item.image %>" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<%- include('../partials/footer'); %>
