<%- include('../partials/header'); %>
<div class="container">
    <h1 class='intro'><%= pageTitle %></h1>
    <article>
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="details col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img src="<%= item.image %>" />
                            </div>
                        </div>
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title"><%= 'Name: ' + item.name %></h3>
                        <p class="product-description index"><%= item.remarks %>
                        </p>

                    <p class="index">
                        <%= 'Price: $' + item.price %>
                    </p>
                    <p class="index">
                        <%= 'Priority: ' + item.priority %>
                        </p>
                        <p class="vote index"><strong><%= item.thumbsUp %></strong> <i class="fa fa-thumbs-up" style="font-size:24px"></i>       
                            <strong><%= item.thumbsDown %> <i class="fa fa-thumbs-down" style="font-size:24px"></i>
                                </strong></p>                        <div class="outer">
                            <a class="btn inner btn-outline-success my-2 my-sm-0" href="#">Give Review</a>
                        </div>
                                </div>
                </div>
            </div>
        </div>
    </article>
</div>
<%- include('../partials/footer'); %>
